Repository kisstar/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es, npm run lint-staged:js, yarn run lint:md, prettier --write

.lintstagedrc:

{
  "*.js": ["yarn run lint:es"],
  "**/*.{js,jsx,ts,tsx}": "npm run lint-staged:js",
  "*.md": ["yarn run lint:md"],
  "**/*.{js,jsx,tsx,ts,less,md,json}": ["prettier --write"]
}

build: eject create-react-app webpack configs
  .eslintignore
  .eslintrc
  .prettierignore
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/react-app-env.d.ts
  src/serviceWorker.ts
  yarn.lock
Due: yarn run lint:es, npm run lint-staged:js, prettier --write

build: add support for LESS
  config/webpack.config.js
  package.json
  yarn.lock
Due: yarn run lint:es, npm run lint-staged:js, prettier --write

chore: enforce conventions in your styles to avoid errors
  .lintstagedrc
  .prettierrc
  .stylelintignore
  .stylelintrc
  package.json
  yarn.lock
Due: prettier --write

build(lint): useing stylelint in webpack
  .stylelintrc
  config/webpack.config.js
  package.json
  yarn.lock
Due: yarn run lint:es, npm run lint-staged:js, prettier --write

chore: enforce conventions in html to avoid errors
  package.json
  yarn.lock
Due: prettier --write

build(lint): useing htmlhint in webpack
  .htmlhintrc
  .prettierrc
  config/webpack.config.js
  package.json
  yarn.lock
Due: yarn run lint:es, npm run lint-staged:js, prettier --write

style: formatting code
  .markdownlintrc
  .prettierignore
  public/index.html
  src/index.css
  tsconfig.json
Due: prettier --write

feat: use bootstrap to provide a simple baseline
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/pages/App.tsx
  src/styles/index.less
  yarn.lock
Due: npm run lint-staged:js, prettier --write

feat(navbar): create infrastructure and styles for Navbar components
  src/components/NavBar/index.tsx
  src/components/NavBar/type.ts
  src/components/index.tsx
  src/styles/index.less
  src/styles/layout/conponents/index.less
  src/styles/layout/conponents/navbar.less
  src/styles/layout/index.less
  src/styles/theme/components/index.less
  src/styles/theme/components/navbar.less
  src/styles/theme/index.less
  src/styles/variable/light.less
Due: npm run lint-staged:js, prettier --write

feat: 着手首页构建
  src/pages/App.tsx
  src/pages/Home/data.source.ts
  src/pages/Home/index.tsx
Due: npm run lint-staged:js, prettier --write

feat(navbar): 构建导航栏的基础结构
  .eslintrc
  src/components/NavBar/index.tsx
  src/components/NavBar/type.ts
  src/pages/App.tsx
  src/pages/Home/index.tsx
  src/styles/index.less
  src/styles/layout/conponents/navbar.less
  src/styles/theme/components/navbar.less
  src/styles/variable/light.less
Due: npm run lint-staged:js, prettier --write
